
.infopage{
    position: relative;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.infopage .infoimg{
    width: auto;
    height: 100vh;
}

.infopage .botao{
    position: absolute;
    width: 90px;
    height: 43px;
    top: 30%;
    z-index: 99;
    background-color: #e6130f;
    color: #ffffff;
    padding: 10px 18px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    text-decoration: none;
}

.convideo{
    max-width: 350px;
    min-width: 350px;
    position: absolute;
    text-align: center;
    top: 14%;
    left: 50%;
    z-index: 9;
    width: 18vw;
    transform: translate(-50%, -50%);
    border-radius: 24px;
    overflow: hidden;
    background: #fad1d6;
    box-shadow: 0px 0px 5px 5px rgba(230, 19, 15,0.5);
}

.infopage .presente{
    max-width: 75px;
    min-width: 75px;
    position: absolute;
    text-align: center;
    top: 81.4%;
    width: 18vw;
}

.infopage .loc{
    max-width: 75px;
    min-width: 75px;
    position: absolute;
    text-align: center;
    top: 81.4%;
    width: 18vw;
}

.infopage .confirmar{
    max-width: 75px;
    min-width: 75px;
    position: absolute;
    text-align: center;
    top: 81.4%;
    width: 18vw;
}